
* {
  box-sizing: border-box;
  font-family: monospace;
}

body{
  height: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; /* 5px rounded corners */
    /*my stuff*/
    display: grid;
    grid-template-columns: 120 auto;
    justify-content: start;
    overflow: hidden;
    background-color: beige;
    white-space: nowrap;
  }

  #cardMiniIconGraduated {
    height:20px;
    width:20px;
    grid-row:1;
    grid-column:1;
    margin-left:2px;
  }

  #cardMiniIconTT {
    height:20px;
    width:20px;
    grid-row:1;
    grid-column:1;
    margin-left:80px;
  }

  #cardMiniIconDaily {
    height:20px;
    width:20px;
    grid-row:1;
    grid-column:1;
    margin-top:75px;
    margin-left:6px;
  }

  #cardMiniIconPlayed{
    height:35px;
    width:35px;
    grid-row:1;
    grid-column:1;
    margin-top:65px;
    margin-left:65px;
  }

  #cardAvatar {
    grid-row:1;
    grid-column:1;
  }

  .cardPictures {
    display: grid;
  }

  .cardText{
    grid-row: 1;
    grid-column: 2;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .cardDelegation{
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  
  .column {
    float: left;
    width: 320px;
    padding: 0 10px;
    margin-top: 15px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #filters{
    border: 1px solid black;
    max-width: 600px;
    padding: 5px;
  }

  #navigationFooter{
      margin-top: 10px;
      padding-left:5px;
      padding-bottom: 5px;
      width:100%;
      background:rgb(209, 209, 209);
   
  }

  tr,td{
    border: 1px solid black;
    font-size: 20px;
  }
